/* ШАПКА */

.header {
  display: grid;
  padding: 91px 50px 92px;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header-menu-item {
  padding-bottom: 2px;
}

.header-menu .header-menu-item:first-child {
  list-style: none;
}

.header-menu-link {
  text-decoration: none;
  border-bottom: 1px solid black;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.header-menu-link-active {
  border: none;
}

.header-logo {
  display: block;
  min-width: 137px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  font-style: unset;
  font-size: 18px;
  line-height: 24.3px;
}

.address-block-header {
  max-width: 240px;
}

.address-block-link {
  text-decoration: none;
  border-bottom: 1px solid black;
  font-weight: 400;
}

.address-block-text {
  padding-left: 1px;
  padding-bottom: 2px;
}

/* ОБЛОЖКА */

.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover-title {
  position: relative;
  margin-right: -30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  font-size: 100px;
  letter-spacing: 0.3em;
  color: #ffffff;
}

.aligned-text-left {
  text-align: start;
}

.aligned-text-center {
  text-align: center;
  padding: 18px 0;
}

.aligned-text-right {
  text-align: end;
}

.cover-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 400;
  font-size: 22px;
  word-spacing: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

.bet-button {
  margin: 0;
  padding: 12px 32px 11px 31px;
  appearance: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
}

/* ЛОТЫ */

.lots {
  padding: 180px 24px 120px;
}

.lots-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots-card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 596px;
}

.card-link,
.card {
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 48px 40px;
}

.card-title {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #ffffff;
  text-decoration: underline;
}

.card-text {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}

.card-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-type-film {
  background-image: url("../images/card-lot-01.jpg");
}

.card-type-book {
  background-image: url("../images/card-lot-02.jpg");
}

.card-type-picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots-look-more-link {
  margin-left: 40px;
  text-decoration: none;
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 20px;
}

/* ОБ АУКЦИОНЕ */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 34px 24px 180px;
}

.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about-logo-image {
  width: 148px;
  height: 114px;
}

.about-title {
  padding-top: 101px;
  padding-bottom: 100px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.auction-concept {
  max-width: 688px;
}

.lot-significance {
  max-width: 693px;
}

/* ПОДВАЛ */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 82px;
}

.address-block-footer {
  max-width: 265px;
}

.footer-address-link {
  padding-top: 5px;
  text-decoration: none;
  border-bottom: 1px solid black;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.footer-address-text {
  padding-top: 2px;
}

.footer-menu-list,
.footer-social-list {
  list-style: none;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 24px;
  font-size: 18px;
  line-height: 22px;
}

.footer-menu-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.footer-menu-link-active {
  border: none;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.footer-social-list-item {
  padding-top: 1px;
  width: 48px;
  height: 48px;
}
