
/* ШАПКА */

.header {
  display: grid;
  padding: 92px 50px 96px;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header-menu .header-menu-item:first-child {
  list-style-type: none;
}

.header-menu-link-active {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.header-menu-link {
  text-decoration: none;
  border-bottom: 1px solid black;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.header-logo {
  display: block;
  min-width: 148px;
  min-height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
  font-style: unset;
}

.header-address-link {
  text-decoration: none;
  border-bottom: 1px solid black;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

/* ОБЛОЖКА */

.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover-title {
  position: relative;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  font-size: 100px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
}

.aligned-text-left {
  text-align: start;
}

.aligned-text-center {
  text-align: center;
}

.aligned-text-right {
  text-align: end;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 400;
  font-size: 22px;
  word-spacing: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.bet-button {
  margin: 0;
  padding: 12px 32px 11px 31px;
  appearance: none;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 22px;
}

/* ЛОТЫ */

.lots {
  padding: 180px 24px 120px;
}

.lots-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots-card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link, .card {
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 48px 40px;
}

.card-title {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #FFFFFF;
  text-decoration: underline;
}

.card-text {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
}

.card-type-film {
  background-image: url('../images/card-lot-01.jpg');
  background-size: cover;
  background-position: center;
}

.card-type-book {
  background-image: url('../images/card-lot-02.jpg');
  background-size: cover;
  background-position: center;
}

.card-type-picture {
  background-image: url('../images/card-lot-03.jpg');
  background-size: cover;
  background-image: center;
}

.lots-look-more-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 20px;
}

/* ОБ АУКЦИОНЕ */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 36px;
  padding: 0 24px 180px;
}

.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about-logo-image {
  width: 148px;
  height: 114px;
}

.about-title {
  margin-top: 136px;
  margin-bottom: 100px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/* ПОДВАЛ */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 82px;
}

.footer-address-link {
  text-decoration: none;
  border-bottom: 1px solid black;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.footer-menu-list, .footer-social-list {
  list-style: none;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-menu-link-active {
  text-decoration: none;
}

.footer-menu-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.footer-social-list-item {
  width: 48px;
  height: 48px;
}